node_modules

**/node_modules
**/dist
**/dist-ssr

.env
**/.env

**/*.local

**/*.log
logs

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
.idea

**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
